.loginContainer, .registerContainer{
    width: 500px;
    position: relative;
    margin: 50px auto;
    text-align: center;
}
input {
    border: 1px solid rgb(22, 21, 21);
    border-radius: 4px;
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    text-align: center;
}
button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
